/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #269add;
    border: none;
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #097cbe;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: url("../img/hero-bg.jpg") top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* margin-bottom: -200px; */
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-control:focus {
    box-shadow: none;
}